In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as datetime
import numpy as np
import yfinance as yf

In [17]:
ACCION = 'AAPL'

def get_data(ticker):
    stock_data = yf.download(ticker)
    return stock_data

In [18]:
stock = get_data(ACCION)
stock

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86172500
2024-06-21,210.389999,211.889999,207.110001,207.490005,207.490005,246421400
2024-06-24,207.720001,212.699997,206.589996,208.139999,208.139999,80727000
2024-06-25,209.149994,211.380005,208.610001,209.070007,209.070007,56713900
2024-06-26,211.500000,214.860001,210.639999,213.250000,213.250000,64292900

In [14]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2024-01-02 to 2024-06-25
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       121 non-null    float64
 1   High       121 non-null    float64
 2   Low        121 non-null    float64
 3   Close      121 non-null    float64
 4   Adj Close  121 non-null    float64
 5   Volume     121 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 6.6 KB

In [15]:
stock.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [16]:
stock.set_index('Date', inplace = True)

KeyError: "None of ['Date'] are in the columns"